.resultb {
  font-size: 30px;
  font-weight: 400;
}

.rgstrButton {
  border: none;
  background-color: #005ca9;
  border-radius: 10%;
  margin-left: 40%;
}
.error {
  margin-left: 40%;
  margin-top: 2%;
}
.prof {
  width: 25%;
}
@media (max-width: 550px) {
  .prof {
    width: 55%;
  }
}
@media (max-width: 500px) and (max-width: 1300px) {
  .prof {
    width: 50%;
  }

  @media only screen and (max-width: 280px) {
    .prof {
      width: 60%;
    }
  }
}
