.aboutimgWrapper{
width: 40%;
margin-left: 20%;
margin-bottom: 1%;
}
.colp{
    margin-right: 20%;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300;
    color: #777;
}
.aboutus{
    margin-top: 2%;
    box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
}

@media(max-width:500px){
.colp
{
    margin-left: 30%;
}
.aboutus h2{
    margin-left: 40%;
}

.aboutimgWrapper{
    margin-left: 35%;
}
}
@media(width:820px)
{
    .aboutimgWrapper{
        margin-top: 4%;
    }
    .aboutline{
        top: 12%;
    }
}
@media(width:768px)
{
    .aboutimgWrapper{
        margin-top: 4%;
    }
  
}
@media(width:912px)
{
    .aboutimgWrapper{
        margin-top: 4%;
    }
   
}
@media(width:540px){
    .colp
    {
        margin-left: 30%;
    }
    .aboutus h2{
        margin-left: 40%;
    }
  
    .aboutimgWrapper{
        margin-left: 35%;
    }
    }
    @media(width:280px)
    {
        
        .aboutimgWrapper{
            width: 50%;
            margin-top: 3%;
            margin-left: 32%;
        }
        .aboutus h2{
            margin-left:38% ;
        }
    }
    