.lgntxt {
  font-size: 6vw;
}

.loginTitle {
  font-size: 50px;
}

.siginbtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: darkslategray;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.full {
  margin-top: -30%;
  float: right;
  margin-right: 10%;
}
.lgnpic {
  height: 550px;
  margin-top: 10%;
}
.registerlink {
  text-decoration: none;
}
.fgpsslink {
  text-decoration: none;
  margin-left: 13%;
}
