.rsetpass {
  width: 70%;
}
.newpassButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #1e90ff;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 500px) {
  .rsetpass {
    width: 80%;
  }
}
