.home{
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);

}
.btnwrapper {
 
margin-right: 30%;
}
.txt {
  position: relative;
  right: -0%;
  color: aliceblue;
  font-size: 4vw;
  font-weight: 400;
}
.tableWrapper {
  overflow-y: auto;
  background: white;
 
}
.bold{
  font-size: 30px;
    font-weight: 700;
    margin-left: 37%;
  }
  .pbold{
    font-size: 30px;
    font-weight: 700;
    margin-left: 39%;
  }
  .makeprediction{
   font-size: large;
   border: none;
   background-color: #014f92;
   border-radius: 5%;
   color: aliceblue;
   margin-top: 2%;
   text-decoration: none;
padding-top:0.5%;
padding-bottom:0.5%;
  }
  .makeprediction:hover{
    color: aliceblue;
    text-decoration: none;
  }

@media (max-width: 500px) {
  .homepagepic {
    height: calc(17vh);
  }
  .bold{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20%;
  }
  .makeprediction{
    font-size: small; 
    }
    .pbold{
      font-size: 20px;
    font-weight: 700;
    margin-left: 20%;
    }
}
