.homepagepic {
  height: calc(70vh);

  background-image: url(../img/homepage.jpg);
  margin: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.Button {
  margin-left: 40%;
  margin-top: 5%;
}
.txt {
  position: relative;
  right: -0%;
  color: aliceblue;
  font-size: 4vw;
  font-weight: 400;
}
