.homepagepic {
  height: calc(70vh);

  background-image: url(../img/homepage.jpg);

  background-size: 100%;
  background-repeat: no-repeat;
}
.btnwrapper {
  position: relative;
  margin-left: 40%;
}
.txt {
  position: relative;
  right: -0%;
  color: aliceblue;
  font-size: 4vw;
  font-weight: 400;
}
.tableWrapper {
  overflow: auto;
}
@media (max-width: 500px) {
  .homepagepic {
    height: calc(17vh);
  }
}
