
.Navbar
{
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
}
.Navbart{
  color: white !important;
}
.logohomepage {
  height: 60px;
}
.dropbtn{
  color: white;
  position: relative;
  top: 10px;
  left: 10px;
}
.dropbtn:hover{
text-decoration: underline;
}
.homeicon{
  position:relative;
  left:-25px;
  top:23px;
}
.onlinepredictionicon{
  position:relative;
  left:-25px;
  top:23px;
}
.connect{
  position:relative;
  left:-25px;
  top:23px;
}
.logouticon{
  color: white;
  position:relative;
  left:-18px;
  top:35px;
}
.profileimg{
  border-radius:100px ;
  height:50px;
  width:50px;
  margin-left: 5%;
}


@media (width: 1024px) {
  .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .Hometxt
  {
    position: relative;
    left: -160px;
  }
.onlinepredictionicon{
  position: relative;
  top: 0px;
  left: 0px;
  
}
.predicttxt{
  position: relative;
  left: -160px;
}
.Contacttxt{
  position: relative;
  left: -160px;
}
.connect{
  position: relative;
  top: 0px;
  left: 0px;
 
}
.profileimg{
  position: relative;
  top: -315px;
  left: 20px;
 
}
.logouticon{
  position: relative;
  top: -70px;
  left: -15px;
}
.dropbtn{
  position: relative;
 top: -95px;
 left: 10px
}
.welcometxt{
  position: relative;
  top: -255px;
    left: 120px;
}
}


@media (width: 540px) {
  .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .Hometxt
  {
    position: relative;
    left: -90px;
  }
.onlinepredictionicon{
  position: relative;
  top: 0px;
  left: 0px;
  
}
.predicttxt{
  position: relative;
  left: -90px;
}
.Contacttxt{
  position: relative;
  left: -90px;
}
.connect{
  position: relative;
  top: 0px;
  left: 0px;
 
}
.profileimg{
  position: relative;
  top: -315px;
  left: 40px;
 
}
.logouticon{
  position: relative;
  top: -70px;
  left: -20px;
}
.dropbtn{
  position: relative;
 top: -95px;
 left: 10px
}
.welcometxt{
  position: relative;
  top: -255px;
  left: 120px;
}
}
@media (width: 912px) {
  .logouticon{
    position: relative;
    top: -70px;
    left: -18px;
  }
  .dropbtn{
    position: relative;
   top: -95px;
   left: 5px
  }
  .connect{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .onlinepredictionicon{
    position: relative;
    top: 0px;
    left: 0px;
    
  }
  .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .profileimg{
    position: relative;
    top: -315px;
    left: 40px;
   
  }
  .Hometxt
  {
    position: relative;
    top:0px;
    left: -130px;
  }
.predicttxt{
  position: relative;
  left: -130px;
}
.Contacttxt{
  position: relative;
  left: -130px;
}
.welcometxt{
  position: relative;
  top: -255px;
  left: 120px;
}
}
@media (width: 768px) {
 
  .logouticon{
    position: relative;
    top: -70px;
    left: -25px;
  }
  .dropbtn{
    position: relative;
   top: -95px;
   left: 0px
  }
  .connect{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .onlinepredictionicon{
    position: relative;
    top: 0px;
    left: 0px;
    
  }
  .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .profileimg{
    position: relative;
    top: -315px;
    left: 40px;
   
  }
  .Hometxt
  {
    position: relative;
    top:0px;
    left: -120px;
  }
.predicttxt{
  position: relative;
  left: -120px;
}
.Contacttxt{
  position: relative;
  left: -120px;
}
.welcometxt{
  position: relative;
  top: -255px;
  left: 120px;
}
}
@media (width: 820px) {
  .logouticon{
    position: relative;
    top: -70px;
    left: -18px;
  }
  .dropbtn{
    position: relative;
   top: -95px;
   left: 5px
  }
  .connect{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .onlinepredictionicon{
    position: relative;
    top: 0px;
    left: 0px;
    
  }
  .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .profileimg{
    position: relative;
    top: -315px;
    left: 40px;
   
  }
  .Hometxt
  {
    position: relative;
    top:0px;
    left: -130px;
  }
.predicttxt{
  position: relative;
  left: -130px;
}
.Contacttxt{
  position: relative;
  left: -130px;
}
.welcometxt{
  position: relative;
  top: -255px;
  left: 120px;
}
}


@media (width: 280px) {
 
  .profileimg{
    position: relative;
    top: -189px;
    left: 40px;
   
  }
 .homeicon {
   
    position: relative;
    top: -2px;
    left: 0px;
  }
  .Hometxt
  {
    position: relative;
    left: -50px!important;
    top:20px;
  }
.onlinepredictionicon{
  position: relative;
  top: 0px;
  left: 0px;
  
}
.predicttxt{
  position: relative;
  left: -50px!important;
  top:20px;
}
.Contacttxt{
  position: relative;
  left: -50px!important;
  top:20px;
}
.connect{
  position: relative;
  top: 0px;
  left: 0px;
 
}

.logouticon{
  position: relative;
  top: -70px;
  left: -20px;
}
.dropbtn{
  position: relative;
 top: -95px;
 left: 5px
}
.welcometxt{
  position: relative!important;
  left: -20px!important;
  top:-220px!important;
}
}


@media (max-width: 500px) {

  .homeicon {
    
     position: relative;
     top: -2px;
     left: 0px;
   }
   .Hometxt
   {
     position: relative;
     left: -60px;
   }
 .onlinepredictionicon{
   position: relative;
   top: 0px;
   left: 0px;
   
 }
 .predicttxt{
   position: relative;
   left: -60px;
 }
 .Contacttxt{
   position: relative;
   left: -60px;
 }
 .connect{
   position: relative;
   top: 0px;
   left: 0px;
  
 }
 
 .logouticon{
   position: relative;
   top: -70px;
   left: -20px;
 }
 .dropbtn{
   position: relative;
  top: -95px;
  left: 5px
 }
 .profileimg{
  position: relative;
  top: -315px;
    left: 50px;
 
}
.welcometxt{
  position: relative;
  top: -255px;
  left: 120px;
}
 }