.formdivcol1 {
  margin-top: 10%;
  margin-left: 10%;
}
.formdivcol2 {
  margin-top: -15%;
  margin-left: 40%;
}
.formdivcol3 {
  margin-top: -15%;
  margin-left: 70%;
}
.resultb {
  font-size: 30px;
  font-weight: 400;
}
span {
  background-color: #005ca9;
  border-radius: 5%;
}
.rgstrButton {
  border: none;
  background-color: #005ca9;
  border-radius: 10%;
  margin-left: 40%;
  margin-top: 2%;
}
.error {
  margin-left: 40%;
  margin-top: 2%;
}
