.resultb {
  font-size: 30px;
  font-weight: 400;
}

.rgstrButton {
  border: none;
  background-color: #005ca9;
  border-radius: 10%;
  margin-left: 40%;
}
.error {
  margin-left: 40%;
  margin-top: 2%;
}
