.col2{
   margin-top: 10%;
}
.imguploadlogo {
   background-color:aqua;
    border-radius:50px;
    width:100px;
    height:100px;
    padding:20px;
    margin-top:400%;
    margin-left: -200%;
}
.uploadbtn{
   margin-left: -40%;
margin-top: 18%;
}