
.features{
   margin-top: 1%;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 5px -8px rgba(0,0,0,0.75);
}
.features h2{
    color: white;
    margin-left: 42%;
   
}


.features li{
    color: white;
    font-weight: 300;
    list-style-type: circle;
}
.features h4{
    color: white;   
}
.colwrapper{
    margin-left: 2%;
    margin-right: 2%;
}
.ficon{
font-size: 50px !important;

color: white;
}
@media(max-width:500px){
   
    .ficon,  .features h4{
        margin-left: 40%;
    }
  
    .features h2{
        margin-left: 38%!important;
    }
    .sa{
        margin-left: 30% !important;
    }
}
  @media(width:540px){
    .ficon,  .features h4{
        margin-left: 40%;
    }
    .sa{
        margin-left: 32% !important;
    }
      .features h2{
        margin-left: 40%;
      }
   
   
  }
  
  