
.manageadminstable{
    background-color: white;
    overflow-y: scroll;
    margin-left: -70%;
    
}
.existingadminbold{
    font-size: 30px;
    font-weight: 700;
    margin-left: 40%;
}
.nexistingadminbold{
    font-size: 30px;
    font-weight: 700;
    margin-left: 40%;
}