.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactSize {
  font-size: 4vw;
  font-weight: 400;
  position: relative;
  left: 40%;
}
.spanpara1 {
  font-size: 4vw;
  font-weight: 400;
  position: relative;
  left: 35%;
  top: 7%;
  background-color: #005ca9;
  border-radius: 5%;
}

.para1 {
  position: relative;
  right: 40%;
  top: 7%;
  font-size: 1vw;
  font-weight: 400;
}
.col1 {
  margin-top: -18%;
  margin-left: 60%;
}

.pcontact {
  position: relative;
  margin-top: -4%;
  margin-left: 5%;
}
.hrline {
  width: 30%;
}
.facebook {
  font-size: 1.3em;
}
.ml {
  font-size: 1.3em;
  margin-left: 1.2em;
}
